.nosotros{
    display: grid;
    grid-template-columns: repeat(2, 50%);
grid-template-rows: 200px;
grid-template-areas: 
"texto logo"           
"texto logo"
"pago pago"
"entrega entrega";

}
.nosotros{
    grid-area: texto;
    
    width: 100%;
    margin-left: 30px;
    text-align: center;
}
.logo{
    grid-area: logo;
     img{
    width: 400px;
    width: 400px;
    margin-top: 20px;
    margin-left: 30px;
    box-shadow: 10px -12px 5px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px -12px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px -12px 5px 1px rgba(0,0,0,0.75);box-shadow: black 40px;

   }
}
.pago{
    margin-top: 400px;
    grid-area: pago;
    text-align: center;
    padding: 30px;
}
.entrega{
    grid-area: entrega;
    text-align: center;
    padding: 30px;}
